#chatLog {
    height:100px;
    width:762px;
    top: 45%;
    left: 2.5%;
    visibility: hidden;
    overflow:auto;    
    list-style:none;
    padding:5px;
    background-color: #494745;
    position: absolute;
    z-index: 1000;
}

#chatLog li {
    list-style:none;
    padding:0px;
    color:#55e;
    font:700 12px arial;
}

#chatLog li b {
    font:700 14px arial;
    color:#b33;
}